.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: purple;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  p {
    margin-bottom: 100px;
    margin-left: 55px;
  }
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 20px;
  border-bottom: 1px solid #444;
  font-weight: bold;
  font-size: 40px;
}

.sidebar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.sidebar a:hover {
  color: white ;
}